---
import Layout from "../layouts/Layout.astro";
import Sections from "@/components/Sections.astro";
import TechStack from "@/components/TechStack.astro";

import Typing from "@/components/Typing.astro";

import Projects from "@/components/Projects.astro";
---

<Layout title="Weird Dev" description="Portfolio de Andrés Ortiz">
    <Sections
        id="about"
        class="flex flex-col items-center py-32 space-y-5 min-h-screen"
    >
        <img
            src="img/Avatar_User.png"
            alt="Avatar"
            class="size-32 rounded-full border-2 border-accent sm:size-64"
        />
        <h1 class="text-4xl font-bold">Andrés Ortiz</h1>
        <Typing />
        <TechStack />
    </Sections>

    <Sections id="projects" class="pb-32 flex items-center justify-center">
        <Projects />
    </Sections>
</Layout>
