<p
    id="typingText"
    class="type_text overflow-hidden mx-auto tracking-widest text-nowrap h-12"
>
</p>

<script>
    // Array de strings a mostrar
    import { TypingList } from "../consts/TypingText";

    // Obtener la referencia al elemento <p> donde queremos mostrar el texto
    const typingElement = document.getElementById("typingText");

    // Funci칩n para animar el texto
    function animateText(index: number) {
        let text = TypingList[index];
        let charIndex = 0;

        // Funci칩n para escribir el texto
        function type() {
            if (charIndex < text.length) {
                if (typingElement) {
                    typingElement.innerHTML += text.charAt(charIndex);
                }

                charIndex++;

                setTimeout(type, 50); // Velocidad de escritura (en milisegundos)
            } else {
                // Una vez que se ha escrito todo el texto, borrarlo y pasar al siguiente
                setTimeout(erase, 1000); // Esperar 1 segundo antes de borrar el texto
            }
        }

        // Funci칩n para borrar el texto
        function erase() {
            if (charIndex >= 0) {
                if (typingElement) {
                    typingElement.innerHTML = typingElement.innerHTML.substring(
                        0,
                        typingElement.innerHTML.length - 1
                    );
                }
                charIndex--;
                setTimeout(erase, 30); // Velocidad de borrado (en milisegundos)
            } else {
                // Una vez que se ha borrado todo el texto, pasar al siguiente texto (si hay alguno)
                if (index < TypingList.length - 1) {
                    setTimeout(() => animateText(index + 1), 500); // Esperar medio segundo antes de mostrar el siguiente texto
                } else {
                    // Si no hay m치s textos, reiniciar el ciclo mostrando el primer texto
                    setTimeout(() => animateText(0), 500);
                }
            }
        }

        // Iniciar el efecto de escritura
        type();
    }

    // Iniciar el ciclo mostrando el primer texto
    animateText(0);
</script>
