---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="overflow-x-hidden">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --bg: #0f0e17;
        --headline: #fffffe;
        --text: #a7a9be;
        --button: #ff8906;
        --button-text: #fffffe;
        --text-accent: #f24c4c;
    }
    body {
        margin: 0;
        padding: 0;
        color: white;
        background: var(--bg);
    }
</style>
